
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --subcor: #252525;
}
* { 
 margin:0;
 border:0;
 padding:0;
}
 body{ 
     background-color: rgb(3, 0, 9);
     color:rgba(52, 5, 36, 0.47)
 }
 header{
     padding: 32px;

     background-color: #b60a88;
     border-bottom: 5px solid #333 ;

     border-color: 40px solid #555;
 }
 header div{
     text-align:center; /*Alinhamento no meio do header*/
 }
 header div a{
     color:#71245c;
     font-size: 20px;
     line-height: 9PX;
     margin: 0 16px;
     text-decoration: none;
     font-family: 'Winky Sans', sans-serif;
 }
 
 header div a:hover {
     color: #252525;
     transition: color 700ms;
 }

 #box {
  text-align: center; 
  padding: 32px;
 }

 #box img {
    border-radius:50%;
    border: 5px solid #860337;
    margin-bottom: 32px; 
 }

 #box h1 {
    color:#860337;
    font-size: 42px;
    line-height: 20px;
    font-weight: bold;
    text-decoration: none;
 }

 #box h2 {
    color:#252525;
    font-size:24px ;
    line-height:34px ;
    font-weight:normal ;
    margin-top:3px ;
    opacity:0.8;
    text-decoration: none;
    font-family: 'Winky Sans', sans-serif;
 }

 #box a{ 
    color:#860337;
    max-width:500px ;
    margin:30px auto ;
    font-weight:200px ;
    line-height:0px ;
    text-decoration: none;
    font-family: 'Winky Sans', sans-serif;
 }

.links {
    text-align: center;
}

 .links a{
    color:#860337;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    margin: 0 16px;
 }