
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root{
    --subcor: #510000;
}
* { 
 margin:0;
 border:0;
 padding:0;
}
 body{ 
     background-color: rgb(255, 255, 255);
     color:rgba(171, 43, 43, 0.47)
 }
 header{
     padding: 32px;

     background-color: #630909;
     border-bottom: 5px solid #390404 ;

     border-color: 40px solid #700000;
 }
 header div{
     text-align:center;
 }
 header div a{
     color:#fff9f9;
     font-size: 10px;
     line-height: 9PX;
     margin: 0 10px;
     text-decoration: none;
     font-family: 'Winky sans', sans-serif;
 }
 
 header div a:hover {
     color: #d5d5d5;
     transition: color 900ms;
 }

 #box {
  text-align: center; 
  padding: 17px;
 }

 #box img {
    border-radius:50%;
    border: 0px solid #7a0000;
    margin-bottom: 32px; 
 }

 #box h1 {
    color:#710000;
    font-size: 32px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Reenie Beanie", cursive;
 }

 #box h2 {
    color:#910606;
    font-size:24px ;
    line-height:34px ;
    font-weight:normal ;
    margin-top:1px ;
    opacity:0.8;
    text-decoration: none;
    font-family: "Reenie Beanie", cursive;
 }

 #box a{ 
    color:#ffeeee;
    max-width:300px ;
    margin:30px auto ;
    font-weight:100px ;
    line-height:4px ;
    text-decoration: none;
    font-family: 'Sans-serif', sans-serif;
 }

.links {
    text-align: center;
}

 .links a {
    color:#280404;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    margin: 0 16px;
 }
 .links a:hover {
    color: var(--subcor);
    font-size: 20px;
 }

 #box h1 {
    padding: 2px;
 }
 #box h2 {
    padding: 2px;
 }
 #box p:hover{
    font-size: 2px;
}
#box a {
    color: #540303
}
#linksFooter {
    padding-top: 0px;
}

#linksFooter a {
    padding-top: 32px;
    padding-bottom: 0px;
    border-bottom: 3px solid var(--subcor);
}